<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.AdditionalFieldMapper">
    <insert id="registrarCampoAdicionalComprobante" parameterType="com.certicom.certifact_facturas_service_sp.dto.others.CampoAdicional">
        INSERT INTO aditional_field_payment_voucher (id, nombre_campo, valor_campo, id_payment_voucher, type_field_id)
        VALUES (nextval('aditional_field_payment_voucher_seq'), #{nombreCampo}, #{valorCampo}, #{idPaymentVoucher}, #{typeFieldId})
    </insert>
    <delete id="deleteAditionalFieldPaymentById" parameterType="Long">
        DELETE FROM aditional_field_payment_voucher WHERE id = #{id}
    </delete>
    <select id="listAditionalFieldByIdPaymentVoucher" parameterType="Long">
        SELECT id, nombre_campo, valor_campo, id_payment_voucher, type_field_id FROM aditional_field_payment_voucher WHERE id_payment_voucher = #{id}
    </select>
</mapper>