<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.AnticipoMapper">
    <insert id="registrarAnticipo" parameterType="com.certicom.certifact_facturas_service_sp.entity.AnticipoEntity">
        INSERT INTO anticipo_payment_voucher (id_anticipo_payment, monto_anticipo, numero_anticipo, serie_anticipo, tipo_doc_anticipo, id_payment_voucher)
        values (nextval('anticipo_payment_voucher_seq'), #{montoAnticipo}, #{numeroAnticipo}, #{serieAnticipo}, #{tipoDocAnticipo}, #{idPaymentVoucher})
    </insert>
    <delete id="deleteAnticipoById" parameterType="Long">
        DELETE FROM anticipo_payment_voucher WHERE id_anticipo_payment = #{id}
    </delete>
</mapper>