<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.ComprobanteMapper">

    <select id="listarComprobantesConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteDto">
        SELECT
        p.fecha_emision AS fechaEmision,
        p.tipo_comprobante AS tipoComprobante,
        p.serie,
        p.numero,
        p.tip_comprob_afectado AS tipoComprobanteAfectado,
        p.serie_afectado AS serieAfectado,
        p.numero_afectado AS numeroAfectado,
        p.num_doc_ident_receptor AS numDocIdentReceptor,
        p.denominacion_receptor AS denominacionReceptor,
        p.codigo_moneda AS codigoMoneda,
        ROUND(p.monto_imp_total_venta, 2) AS montoImporteTotalVenta,
        p.estado,
        p.fecha_registro AS fechaRegistro,
        p.ruc_emisor AS rucEmisor,
        p.estado_sunat AS estadoSunat,
        p.identificador_documento AS identificadorBaja,
        p.email_receptor AS emailReceptor,
        p.id_payment_voucher AS idPaymentVoucher,
        (t.serie || '-' || t.numero) AS sernumguia,
        p.identificador_documento AS identificadorDocumento,
        p.uuid,
        p.mensaje_respuesta AS mensajeRespuesta,
        p.pagado
        FROM payment_voucher p
        LEFT JOIN guia_remision t ON t.id_payment_voucher = p.id_payment_voucher
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}
        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{filtro.filtroTipoComprobante}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        ORDER BY p.fecha_emision_date DESC, p.numero DESC
        OFFSET #{filtro.numPagina} LIMIT #{filtro.porPagina}
    </select>

    <select id="contarComprobantesConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="java.lang.Integer">
        SELECT COUNT(p.id_payment_voucher)
        FROM payment_voucher p
        <where>
            p.ruc_emisor = #{filtro.rucEmisor}
            AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

            <if test="filtro.filtroTipoComprobante != null and filtro.filtroTipoComprobante != ''">
                AND p.tipo_comprobante LIKE CONCAT('%', #{filtro.filtroTipoComprobante}, '%')
            </if>

            <if test="filtro.filtroRuc != null and filtro.filtroRuc != ''">
                AND p.num_doc_ident_receptor LIKE CONCAT('%', #{filtro.filtroRuc}, '%')
            </if>

            <if test="filtro.filtroSerie != null and filtro.filtroSerie != ''">
                AND p.serie LIKE CONCAT('%', #{filtro.filtroSerie}, '%')
            </if>

            <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
                AND p.numero = #{filtro.filtroNumero}
            </if>

            <if test="filtro.idOficina != null and filtro.idOficina != 0">
                AND p.oficina_id = #{filtro.idOficina}
            </if>

            <if test="filtro.estadoSunat != null and filtro.estadoSunat != ''">
                AND p.estado LIKE CONCAT('%', #{filtro.estadoSunat}, '%')
            </if>
        </where>
    </select>
    <select id="obtenerTotalSolesGeneralConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteDto">
        SELECT p.codigo_moneda AS codigoMoneda,
        COALESCE(
        SUM(
        CASE p.tipo_comprobante
        WHEN '07' THEN p.monto_imp_total_venta * (-1)
        ELSE p.monto_imp_total_venta
        END
        ), 0
        ) AS montoImporteTotalVenta
        FROM payment_voucher p
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{s}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        AND p.estado != '08'
        AND p.estado != '05'
        GROUP BY p.codigo_moneda
    </select>
    <insert id="registrarComprobante"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteDto"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id_payment_voucher">
        INSERT INTO payment_voucher
            (codigo_moneda, denominacion_receptor, estado, estado_anterior, estado_item, fecha_emision, fecha_emision_date,
            fecha_modificacion, fecha_registro, fecha_vencimiento, hora_emision, identificador_documento, monto_decuento_global, monto_imp_total_venta,
             monto_sum_otros_carg, monto_total_anticipos, motivo_nota, num_doc_ident_receptor, numero, numero_afectado, ruc_emisor, serie, serie_afectado,
             serie_numero_referencia, serie_numero_guia, sumatoria_igv, sumatoria_isc, sumatoria_otros_trib, tipo_comprobante, tip_comprob_afectado, tipo_doc_ident_receptor,
             tipo_operacion, total_descuento, total_oper_exonerada, total_oper_exportada, total_oper_gratuita, total_oper_gravada, total_opera_inafecta, user_name, user_name_modify,
             direccion_receptor, estado_sunat, mensaje_respuesta, email_receptor, detraccion, motivo_anulacion, uuuid, orden_compra, codigo_respuesta_sunat, porcentaje_detraccion,
             boleta_anulada_sin_emitir, ubl_version, sum_ivap, sum_trib_grat, total_base_isc, total_base_otros_trib, total_oper_ivap, codigo_hash, codigo_medio_pago, cuenta_financiera_beneficiario,
             codigo_bien_detraccion, monto_detraccion, oficina_id, estado_anticipo, hidro_matricula, hidro_lugar_descarga, hidro_embarcacion, hidro_descripcion_tipo, hidro_fecha_descarga,
             hidro_cantidad, afectacion_igv, cod_prod_sunat, cod_producto, cod_tipo_afectacion_igv, cod_tip_sistema_isc, cod_unid_medida, codigo_dscto, descripcion_producto, descuento,
             detalle_viaje_detraccion, direccion_origen_detraccion, monto_base_exone, monto_base_export, monto_base_grat, monto_base_icbper, monto_base_igv, monto_base_inafec, monto_base_isc,
             monto_base_ivap, monto_base_otros, monto_icbper, monto_ivap, monto_otros_trib, monto_tri_vta_grat, porcent_igv, porcent_isc, porcent_ivap, porcent_otr_trib, porcent_vta_grat,
             precio_venta_unit, sistema_isc, ubigeo_destino_detraccion, ubigeo_origen_detraccion, valor_carga_efectiva, valor_carga_util, valor_servicio_transporte, valor_referencial_unit,
             valor_unit, valor_venta, monto_cuota, monto_pendiente, n_cuota, numero_cuota, tipo_transaccion, cantidad_cuotas, pago_cuenta, monto_retencion, porcentaje_retencion, retencion, pagado)
        VALUES #{bucket}, #{nombreGenerado}, #{nombreOriginal}, #{codCompany}, #{estado})
    </insert>
</mapper>

