<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.EmailCompanyNotifyMapper">
    <select id="findAllByCompanyRucAndEstadoIsTrue" parameterType="map" resultType="com.certicom.certifact_facturas_service_sp.model.EmailCompanyNotifyModel">
        SELECT ecn.id, ecn.email, ecn.estado, ecn.cod_company FROM email_company_notify ecn
        INNER JOIN company c on c.cod_company = ecn.cod_company WHERE c.ruc = #{ruc} and ecn.estado = true;
    </select>
</mapper>