<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.EmpresaMapper">
    <select id="obtenerEstadoEmpresaPorRuc" parameterType="string" resultType="string">
        SELECT c.estado
        FROM company c
        WHERE c.ruc = #{ruc}
    </select>
</mapper>