<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.EmpresaMapper">
    <select id="obtenerEstadoEmpresaPorRuc" parameterType="string" resultType="string">
        SELECT c.estado
        FROM company c
        WHERE c.ruc = #{ruc}
    </select>
    <select id="obtenerEmpresaPorRuc"
            parameterType="string"
            resultType="com.certicom.certifact_facturas_service_sp.model.EmpresaDto">
        SELECT
            c.razon_social AS razon,
            c.nombre_comercial AS nombreComer,
            c.ubl_version AS ublVersion,
            c.ose_id AS oseId,
            c.bucket,
            c.envio_automatico_sunat AS envioAutomaticoSunat,
            c.envio_automatico_guia AS envioAutomaticoGuia,
            c.envio_automatico_reteperse AS envioAutomaticoReteperse,
            c.envio_directo AS envioDirecto,
            c.allow_save_oficina_id AS allowSaveOficina,
            c.ruc,
            c.cod_company AS id,
            c.direccion,
            c.simultaneo,
            c.rubro_horeal AS rubroHoreal,
            c.telefono,
            c.email,
            COALESCE(c.cant_comprobante_dinamico,0) AS cantComproDina,
            c.format,
            c.view_code AS viewCode,
            c.id_register_file_send AS idRegisterFileSend,
            c.send_ticket
        FROM company c
        WHERE c.ruc = #{ruc}
    </select>
    <select id="findOseByRucInter" parameterType="map" resultType="com.certicom.certifact_facturas_service_sp.model.OseDto">
        SELECT o.oses_id AS id,
               o.url_facturas AS urlFacturas,
               o.url_guias AS urlGuias
        FROM company c
                 INNER JOIN oses o ON o.oses_id = c.ose_id
        WHERE c.ruc = #{ruc}
    </select>
</mapper>