<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.PaymentVoucherMapper">

    <select id="listPaymentVoucherWithFilter"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.others.PaymentVoucherFilterDto"
            resultType="com.certicom.certifact_facturas_service_sp.dto.others.PaymentVoucherDto">
        SELECT
        p.fecha_emision AS fechaEmision,
        p.tipo_comprobante AS tipoComprobante,
        p.serie,
        p.numero,
        p.tip_comprob_afectado AS tipoComprobanteAfectado,
        p.serie_afectado AS serieAfectado,
        p.numero_afectado AS numeroAfectado,
        p.num_doc_ident_receptor AS numDocIdentReceptor,
        p.denominacion_receptor AS denominacionReceptor,
        p.codigo_moneda AS codigoMoneda,
        ROUND(p.monto_imp_total_venta, 2) AS montoImporteTotalVenta,
        p.estado,
        p.fecha_registro AS fechaRegistro,
        p.ruc_emisor AS rucEmisor,
        p.estado_sunat AS estadoSunat,
        p.identificador_documento AS identificadorBaja,
        p.email_receptor AS emailReceptor,
        p.id_payment_voucher AS idPaymentVoucher,
        (t.serie || '-' || t.numero) AS sernumguia,
        p.identificador_documento AS identificadorDocumento,
        p.uuid,
        p.mensaje_respuesta AS mensajeRespuesta,
        p.pagado
        FROM payment_voucher p
        LEFT JOIN guia_remision t ON t.id_payment_voucher = p.id_payment_voucher
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}
        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{filtro.filtroTipoComprobante}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        ORDER BY p.fecha_emision_date DESC, p.numero DESC
        OFFSET #{filtro.numPagina} LIMIT #{filtro.porPagina}
    </select>

    <select id="countPaymentVoucher"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.others.PaymentVoucherFilterDto"
            resultType="java.lang.Integer">
        SELECT COUNT(p.id_payment_voucher)
        FROM payment_voucher p
        <where>
            p.ruc_emisor = #{filtro.rucEmisor}
            AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

            <if test="filtro.filtroTipoComprobante != null and filtro.filtroTipoComprobante != ''">
                AND p.tipo_comprobante LIKE CONCAT('%', #{filtro.filtroTipoComprobante}, '%')
            </if>

            <if test="filtro.filtroRuc != null and filtro.filtroRuc != ''">
                AND p.num_doc_ident_receptor LIKE CONCAT('%', #{filtro.filtroRuc}, '%')
            </if>

            <if test="filtro.filtroSerie != null and filtro.filtroSerie != ''">
                AND p.serie LIKE CONCAT('%', #{filtro.filtroSerie}, '%')
            </if>

            <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
                AND p.numero = #{filtro.filtroNumero}
            </if>

            <if test="filtro.idOficina != null and filtro.idOficina != 0">
                AND p.oficina_id = #{filtro.idOficina}
            </if>

            <if test="filtro.estadoSunat != null and filtro.estadoSunat != ''">
                AND p.estado LIKE CONCAT('%', #{filtro.estadoSunat}, '%')
            </if>
        </where>
    </select>

    <select id="getTotalSoles"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.others.PaymentVoucherFilterDto"
            resultType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher">
        SELECT p.codigo_moneda AS codigoMoneda,
        COALESCE(
        SUM(
        CASE p.tipo_comprobante
        WHEN '07' THEN p.monto_imp_total_venta * (-1)
        ELSE p.monto_imp_total_venta
        END
        ), 0
        ) AS montoImporteTotalVenta
        FROM payment_voucher p
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{s}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        AND p.estado != '08'
        AND p.estado != '05'
        GROUP BY p.codigo_moneda
    </select>

    <insert id="savePaymentVoucher"
            parameterType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher"
            useGeneratedKeys="true" keyProperty="idPaymentVoucher" keyColumn="id_payment_voucher">
        INSERT INTO payment_voucher
            (id_payment_voucher, ruc_emisor, tipo_comprobante, serie, numero, fecha_emision, codigo_moneda, fecha_vencimiento, tip_doc_ident_receptor, num_doc_ident_receptor,
            denominacion_receptor, direccion_receptor, email_receptor, total_oper_gravada, sumatoria_igv, monto_imp_total_venta, tipo_operacion, fecha_emision_date, fecha_registro,
             identificador_documento, codigo_hash, detraccion, estado, estado_anterior, estado_sunat, hora_emision, mensaje_respuesta, ubl_version, user_name, user_name_modify, uuid,
             oficina_id, tipo_transaccion, monto_pendiente)
        VALUES (nextval('comprobante_pago_seq'), #{rucEmisor}, #{tipoComprobante}, #{serie}, #{numero}, #{fechaEmision}, #{codigoMoneda}, #{fechaVencimiento}, #{tipoDocumentoReceptor},
        #{numeroDocumentoReceptor}, #{denominacionReceptor}, #{direccionReceptor}, #{emailReceptor}, #{totalValorVentaGravada}, #{totalIgv}, #{importeTotalVenta},
        #{codigoTipoOperacion}, #{fechaEmisionDate}, #{fechaRegistro, javaType=java.sql.Timestamp, jdbcType=TIMESTAMP}, #{identificadorDocumento}, #{codigoHash}, #{detraccion}, #{estado},
        #{estadoAnterior}, #{estadoSunat}, #{horaEmision}, #{mensajeRespuesta}, #{ublVersion}, #{userName}, #{userNameModificacion}, #{uuid}, #{oficinaId}, #{tipoTransaccion}, #{montoPendiente})
    </insert>

    <update id="updatePaymentVoucher"
            parameterType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher">
        UPDATE payment_voucher
        SET ruc_emisor              = #{rucEmisor},
            tipo_comprobante        = #{tipoComprobante},
            serie                   = #{serie},
            numero                  = #{numero},
            fecha_emision           = #{fechaEmision},
            codigo_moneda           = #{codigoMoneda},
            fecha_vencimiento       = #{fechaVencimiento},
            tip_doc_ident_receptor  = #{tipoDocumentoReceptor},
            num_doc_ident_receptor  = #{numeroDocumentoReceptor},
            denominacion_receptor   = #{denominacionReceptor},
            direccion_receptor      = #{direccionReceptor},
            email_receptor          = #{emailReceptor},
            total_oper_gravada      = #{totalValorVentaGravada},
            sumatoria_igv           = #{totalIgv},
            monto_imp_total_venta   = #{importeTotalVenta},
            tipo_operacion          = #{codigoTipoOperacion},
            fecha_emision_date      = #{fechaEmisionDate},
            fecha_registro          = #{fechaRegistro, javaType=java.sql.Timestamp, jdbcType=TIMESTAMP},
            identificador_documento = #{identificadorDocumento},
            codigo_hash             = #{codigoHash},
            detraccion              = #{detraccion},
            estado                  = #{estado},
            estado_anterior         = #{estadoAnterior},
            estado_sunat            = #{estadoSunat},
            hora_emision            = #{horaEmision},
            mensaje_respuesta       = #{mensajeRespuesta},
            ubl_version             = #{ublVersion},
            user_name               = #{userName},
            user_name_modify        = #{userNameModificacion},
            uuid                    = #{uuid},
            oficina_id              = #{oficinaId},
            tipo_transaccion        = #{tipoTransaccion},
            monto_pendiente         = #{montoPendiente}
        WHERE id_payment_voucher = #{idPaymentVoucher}
    </update>

    <select id="getPaymentVoucherById" parameterType="long" resultType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher">
        select p.id_payment_voucher, p.uuid, p.identificador_documento, p.codigo_hash from payment_voucher p
        where p.id_payment_voucher = #{id}
    </select>
    <select id="findFirst1ByTipoComprobanteAndSerieAndRucEmisorOrderByNumeroDesc" parameterType="map" resultType="Integer">
        SELECT p.numero FROM payment_voucher p
        WHERE p.tipo_comprobante = #{tipo} AND p.serie = #{serie} AND p.ruc_emisor = #{ruc}
        ORDER BY p.numero DESC LIMIT 1
    </select>
    <select id="getPaymentVoucherByIdentificadorDocumento" parameterType="map" resultType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher">
        SELECT p.fecha_emision, p.fecha_registro, p.id_payment_voucher, p.uuid, p.identificador_documento, p.codigo_hash FROM payment_voucher p
        WHERE p.identificador_documento = #{idDocument}
    </select>
    <insert id="updateStatePaymentVoucher1" parameterType="map">
        UPDATE payment_voucher
            SET estado = #{codigo},
                mensaje_respuesta = #{message},
                codigo_respuesta_sunat = #{codes},
            WHERE id_payment_voucher = #{id}
    </insert>
    <update id="updateStatePaymentVoucher2" parameterType="map">
        UPDATE payment_voucher
            SET estado = #{codigo},
                estado_sunat = #{esunat},
                mensaje_respuesta = #{message},
                codigo_respuesta_sunat = #{codes}
            WHERE id_payment_voucher = #{id}
    </update>
    <select id="findPaymentVoucherByRucAndTipoComprobanteAndSerieAndNumero" parameterType="map" resultType="com.certicom.certifact_facturas_service_sp.model.PaymentVoucher">
        SELECT p.id_payment_voucher, p.estado_sunat, p.estado
            FROM payment_voucher p
        WHERE p.ruc_emisor = #{ruc} AND
              p.tipo_comprobante = #{tipo} AND
              p.serie = #{serie} AND
              p.numero = #{numero}
    </select>
    <select id="findPaymentVoucherByRucAndTipoComprobanteAndSerieDocumentoAndNumeroDocumento"
            parameterType="map" resultType="com.certicom.certifact_facturas_service_sp.entity.PaymentVoucherEntity">
        SELECT
            id_payment_voucher       AS idPaymentVoucher,
            ruc_emisor               AS rucEmisor,
            tipo_comprobante         AS tipoComprobante,
            serie                    AS serie,
            numero                   AS numero,
            fecha_emision            AS fechaEmision,
            codigo_moneda            AS codigoMoneda,
            fecha_vencimiento        AS fechaVencimiento,
            tip_doc_ident_receptor   AS tipDocIdentReceptor,
            num_doc_ident_receptor   AS numDocIdentReceptor,
            denominacion_receptor    AS denominacionReceptor,
            direccion_receptor       AS direccionReceptor,
            email_receptor           AS emailReceptor,
            total_oper_gravada       AS totalOperGravada,
            sumatoria_igv            AS sumatoriaIgv,
            monto_imp_total_venta    AS montoImpTotalVenta,
            tipo_operacion           AS tipoOperacion,
            fecha_emision_date       AS fechaEmisionDate,
            fecha_registro           AS fechaRegistro,
            identificador_documento  AS identificadorDocumento,
            codigo_hash              AS codigoHash,
            detraccion               AS detraccion,
            estado                   AS estado,
            estado_anterior          AS estadoAnterior,
            estado_sunat             AS estadoSunat,
            hora_emision             AS horaEmision,
            mensaje_respuesta        AS mensajeRespuesta,
            ubl_version              AS ublVersion,
            user_name                AS userName,
            user_name_modify         AS userNameModify,
            uuid                     AS uuid,
            oficina_id               AS oficinaId,
            tipo_transaccion         AS tipoTransaccion,
            monto_pendiente          AS montoPendiente
        FROM payment_voucher
        WHERE ruc_emisor = #{ruc} AND tipo_comprobante = #{tipo} AND serie = #{serie} AND numero = #{numero}
    </select>
</mapper>

