<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.PaymentVoucherMapper">

    <select id="listarComprobantesConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="com.certicom.certifact_facturas_service_sp.dto.model.PaymentVoucherDto">
        SELECT
        p.fecha_emision AS fechaEmision,
        p.tipo_comprobante AS tipoComprobante,
        p.serie,
        p.numero,
        p.tip_comprob_afectado AS tipoComprobanteAfectado,
        p.serie_afectado AS serieAfectado,
        p.numero_afectado AS numeroAfectado,
        p.num_doc_ident_receptor AS numDocIdentReceptor,
        p.denominacion_receptor AS denominacionReceptor,
        p.codigo_moneda AS codigoMoneda,
        ROUND(p.monto_imp_total_venta, 2) AS montoImporteTotalVenta,
        p.estado,
        p.fecha_registro AS fechaRegistro,
        p.ruc_emisor AS rucEmisor,
        p.estado_sunat AS estadoSunat,
        p.identificador_documento AS identificadorBaja,
        p.email_receptor AS emailReceptor,
        p.id_payment_voucher AS idPaymentVoucher,
        (t.serie || '-' || t.numero) AS sernumguia,
        p.identificador_documento AS identificadorDocumento,
        p.uuid,
        p.mensaje_respuesta AS mensajeRespuesta,
        p.pagado
        FROM payment_voucher p
        LEFT JOIN guia_remision t ON t.id_payment_voucher = p.id_payment_voucher
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}
        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{filtro.filtroTipoComprobante}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        ORDER BY p.fecha_emision_date DESC, p.numero DESC
        OFFSET #{filtro.numPagina} LIMIT #{filtro.porPagina}
    </select>

    <select id="contarComprobantesConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="java.lang.Integer">
        SELECT COUNT(p.id_payment_voucher)
        FROM payment_voucher p
        <where>
            p.ruc_emisor = #{filtro.rucEmisor}
            AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

            <if test="filtro.filtroTipoComprobante != null and filtro.filtroTipoComprobante != ''">
                AND p.tipo_comprobante LIKE CONCAT('%', #{filtro.filtroTipoComprobante}, '%')
            </if>

            <if test="filtro.filtroRuc != null and filtro.filtroRuc != ''">
                AND p.num_doc_ident_receptor LIKE CONCAT('%', #{filtro.filtroRuc}, '%')
            </if>

            <if test="filtro.filtroSerie != null and filtro.filtroSerie != ''">
                AND p.serie LIKE CONCAT('%', #{filtro.filtroSerie}, '%')
            </if>

            <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
                AND p.numero = #{filtro.filtroNumero}
            </if>

            <if test="filtro.idOficina != null and filtro.idOficina != 0">
                AND p.oficina_id = #{filtro.idOficina}
            </if>

            <if test="filtro.estadoSunat != null and filtro.estadoSunat != ''">
                AND p.estado LIKE CONCAT('%', #{filtro.estadoSunat}, '%')
            </if>
        </where>
    </select>

    <select id="obtenerTotalSolesGeneralConFiltro"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.ComprobanteFiltroDto"
            resultType="com.certicom.certifact_facturas_service_sp.dto.model.PaymentVoucherDto">
        SELECT p.codigo_moneda AS codigoMoneda,
        COALESCE(
        SUM(
        CASE p.tipo_comprobante
        WHEN '07' THEN p.monto_imp_total_venta * (-1)
        ELSE p.monto_imp_total_venta
        END
        ), 0
        ) AS montoImporteTotalVenta
        FROM payment_voucher p
        WHERE p.ruc_emisor = #{filtro.rucEmisor}
        AND p.fecha_emision_date BETWEEN #{filtro.filtroDesde} AND #{filtro.filtroHasta}

        <if test="filtro.filtroTipoComprobante != null">
            AND p.tipo_comprobante LIKE #{s}
        </if>
        <if test="filtro.filtroRuc != null">
            AND p.num_doc_ident_receptor LIKE #{filtro.filtroRuc}
        </if>
        <if test="filtro.filtroSerie != null">
            AND p.serie LIKE #{filtro.filtroSerie}
        </if>
        <if test="filtro.filtroNumero != null and filtro.filtroNumero != 0">
            AND p.numero = #{filtro.filtroNumero}
        </if>
        <if test="filtro.idOficina != null and filtro.idOficina != 0">
            AND p.oficina_id = #{filtro.idOficina}
        </if>
        <if test="filtro.estadoSunat != null">
            AND p.estado LIKE #{filtro.estadoSunat}
        </if>
        AND p.estado != '08'
        AND p.estado != '05'
        GROUP BY p.codigo_moneda
    </select>

    <insert id="registrarComprobante"
            parameterType="com.certicom.certifact_facturas_service_sp.dto.model.PaymentVoucherDto"
            useGeneratedKeys="true" keyProperty="idPaymentVoucher" keyColumn="id_payment_voucher">
        INSERT INTO payment_voucher
            (id_payment_voucher, ruc_emisor, tipo_comprobante, serie, numero, fecha_emision, codigo_moneda, fecha_vencimiento, tip_doc_ident_receptor, num_doc_ident_receptor,
            denominacion_receptor, direccion_receptor, email_receptor, total_oper_gravada, sumatoria_igv, monto_imp_total_venta, tipo_operacion, fecha_emision_date, fecha_registro,
             identificador_documento, codigo_hash, detraccion, estado, estado_anterior, estado_sunat, hora_emision, mensaje_respuesta, ubl_version, user_name, user_name_modify, uuid,
             oficina_id, tipo_transaccion, monto_pendiente)
        VALUES (nextval('comprobante_pago_seq'), #{rucEmisor}, #{tipoComprobante}, #{serie}, #{numero}, #{fechaEmision}, #{codigoMoneda}, #{fechaVencimiento}, #{tipoDocIdentReceptor},
        #{numDocIdentReceptor}, #{denominacionReceptor}, #{direccionReceptor}, #{emailReceptor}, #{totalValorVentaOperacionGravada}, #{sumatoriaIGV}, #{montoImporteTotalVenta},
        #{tipoOperacion}, #{fechaEmisionDate}, #{fechaRegistro, javaType=java.sql.Timestamp, jdbcType=TIMESTAMP}, #{identificadorDocumento}, #{codigoHash}, #{detraccion}, #{estado},
        #{estadoAnterior}, #{estadoSunat}, #{horaEmision}, #{mensajeRespuesta}, #{ublVersion}, #{userName}, #{userNameModify}, #{uuid}, #{oficinaId}, #{tipoTransaccion}, #{montoPendiente})
    </insert>

    <select id="getPaymentVoucherById" parameterType="long" resultType="com.certicom.certifact_facturas_service_sp.entity.PaymentVoucherEntity">
        select p.id_payment_voucher, p.uuid, p.identificador_documento, p.codigo_hash from payment_voucher p
        where p.id_payment_voucher = #{id}
    </select>

</mapper>

