<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.UserMapper">
    <select id="findUserById" parameterType="java.lang.Long" resultType="com.certicom.certifact_facturas_service_sp.model.User">
        SELECT
            u.id_user AS idUsuario,
            u.oficina_id AS idOficina,
            u.de_login AS nombreUsuario,
            u.password AS contrasena,
            u.full_name AS nombreCompleto,
            u.dni AS dni,
            u.estado AS estado,
            u.enabled AS activo,
            c.ruc AS ruc
        FROM users u
        INNER JOIN company c ON u.cod_company = c.cod_company
        WHERE id_user = #{id}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.certicom.certifact_facturas_service_sp.model.User">
        SELECT
            u.id_user AS idUsuario,
            u.oficina_id AS idOficina,
            u.de_login AS nombreUsuario,
            u.password AS contrasena,
            u.full_name AS nombreCompleto,
            u.dni AS dni,
            u.estado AS estado,
            u.enabled AS activo,
            c.ruc AS ruc
        FROM users u
        INNER JOIN company c ON u.cod_company = c.cod_company
        WHERE de_login = #{username}
    </select>

    <select id="findUsernameById" resultType="String">
        SELECT de_login FROM users WHERE id_user = #{id}
    </select>

</mapper>
