<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.VoidedDocumentsMapper">
    <select id="getCorrelativoGeneracionByDiaInVoidedDocuments" resultType="Integer">
        SELECT COALESCE(max(v.correl_generac_dia), 0) from voided_documents v WHERE v.ruc_emisor = #{ruc}
        and v.fecha_generacion_baja = #{fecha}
    </select>
</mapper>
