<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.certicom.certifact_facturas_service_sp.mapper.VoidedDocumentsMapper">
    <select id="getCorrelativoGeneracionByDiaInVoidedDocuments" resultType="Integer">
        SELECT COALESCE(max(v.correl_generac_dia), 0) from voided_documents v WHERE v.ruc_emisor = #{ruc}
        and v.fecha_generacion_baja = #{fecha}
    </select>
    <insert id="save" parameterType="com.certicom.certifact_facturas_service_sp.model.VoidedDocuments"
            useGeneratedKeys="true" keyProperty="idDocumentVoided" keyColumn="id_document_voided">
        INSERT INTO voided_documents (id_document_voided, code_response, correl_generac_dia, description_response, estado, estado_documento, fecha_baja_docs,
        fecha_generacion_baja, fecha_generacion_resumen, fecha_modificacion, id_document, ruc_emisor, ticket_sunat, user_name, user_name_modify, intentos_get_status)
        VALUES (nextval('documents_voided_seq'), #{codigoRespuesta}, #{correlativoGeneracionDia}, #{descripcionRespuesta}, #{estado}, #{estadoComprobante},
        #{fechaBajaDocs}, #{fechaGeneracionBaja}, #{fechaGeneracionResumen}, #{fechaModificacion}, #{idDocument}, #{rucEmisor}, #{ticketSunat}, #{userName}, #{userNameModify},
        #{intentosGetStatus})
    </insert>
    <update id="update">
    </update>
    <select id="findVoidedDocumentsById" parameterType="Long" resultType="com.certicom.certifact_facturas_service_sp.model.VoidedDocuments">
        SELECT id_document_voided, code_response, correl_generac_dia, description_response, estado, estado_documento, fecha_baja_docs,
               fecha_generacion_resumen, fecha_modificacion, id_document, ruc_emisor, ticket_sunat, user_name, user_name_modify, intentos_get_status
        FROM voided_documents WHERE id_document_voided = #{id}
    </select>
</mapper>
